{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "extends": [ "eslint:recommended", "plugin:react/recommended" ],
  "plugins": [ "react" ],
  "env": {
    "mocha": true,
    "jasmine": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-console": "off"
  }
}
