@import '../../theme/colors.scss';

#main-navbar {
  padding: 0 8px;
  background: $blue;

  .item {
    position: relative;
    top: 1px;
    color: #fff;
    font-size: .7em;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }
}
